.container-fluid {
  width: 100%;
  margin: 0 auto;
}

.card {
  width: 100%;
  padding: 0;
  margin: 5% 0 0 0;
  border: 1px solid rgba(0,0,0,.125)
}

.card-deck {
  margin-right: 0;
  margin-left: 0;
}

.card-block {
  margin-bottom: 10px;
  padding: 6%;
}
