<div>
<div class="jumbotron text-center">
          <h1 class="jumbotron-heading">{{ vm.message }}</h1>
          <div class="search">
            <textbox bind-to="vm.search" label="Start Typing to Search"></textbox>
          </div>


      <div class="album text-muted">
          <div class="row">
            <div ng-repeat="post in vm.posts | filter:vm.search" class="card slide">
              <div class="card mb-3" style="width: 100%">
              <img class="card-img-top" ng-src="http://placehold.it/150/c558e0"  alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title"> <span>Article: #{{ post.id }}</span></h4>
                <p class="card-text">{{ post.body }}</p>
                <a ui-sref="blogPost({title: post.slug})" class="btn btn-primary">details</a>
              </div>
            </div>
            </div>
          </div>

        </div>
      </div>
  </div>
<!-- <section class="blog">
  <div class="header">
    <h1>{{ vm.message }}</h1>
  </div>
  <div class="search">
    <textbox bind-to="vm.search" label="Start Typing to Search"></textbox>
  </div>
  <div class="posts">
    <div ng-repeat="post in vm.posts | filter:vm.search" class="post slide">
      <div class="post-img">
        <img ng-src="http://placehold.it/150/c558e0" alt="image">
      </div>
      <div class="post-title">
        <span>Article: #{{ post.id }}</span>
      </div>
      <div>
        <span>By user: {{ post.userId }}</span>
      </div>
      <div class="post-title">
        <span>{{ post.title }}</span>
      </div>
      <div class="post-author">
        <span>{{ post.body }}</span>
      </div>
      <button ui-sref="blogPost({title: post.slug})" class="btn btn-primary">details</button>
    </div>
  </div>
</section> -->