  <div class="jumbotron">
    <div class="container-fluid">
      <h1 class="jumbotron-heading col-6 col-md-4">{{ vm.message }}</h1>
      <div class="row">
        <div class="col-6 col-md-4 post slide" ng-repeat="post in vm.posts | filter:vm.search">
          <div class="card-deck">
            <div class="card">
              <img class="card-img-top" ng-src="https://placeimg.com/640/480/arch" alt="Card image cap">
              <!-- <img class="card-img-top" ng-src="{{ ::vm.painting }}" alt="Card image cap"> -->
              <div class="card-block">
                <h4 class="card-title">
                  <a ui-sref="blogPost({id: post.id})">{{ post.title }}</a>
                </h4>
                <p class="card-text">
                  {{ post.body }}&#46;&#46;&#46;
                </p>
              </div>
              <div class="card-footer" ng-repeat="user in vm.users | filter:{'id': post.userId} | limitTo: post.userId">
                  Posted By: <a ui-sref="userDetails({id: user.id})">{{ user.username }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
