<div class="container">
  <section class="admin">
  <div class="admin-title">
    <h1>Create a post!</h1>
  </div>
  <div class="admin-create">
    <form name="postForm" novalidate ng-submit="vm.createPost(vm.post)">
      <textbox label="Post title" bind-to="vm.post.title" required name="title">
      </textbox>
      <textarea class="form-control" name="post" ng-model="vm.post.body" required placeholder="...write something"></textarea>
      <div class="form-buttons">
        <button class="btn btn-primary" ng-disabled="postForm.$invalid">
          done
        </button>
      </div>
    </form>

  </div>
</section>
</div>
