<div class="jumbotron">
  <div class="container-fluid">
    <h1 class="jumbotron-heading col-6 col-md-4">All Users</h1>
    <div class="row">
      <div class="col-6 col-md-4 post slide" ng-repeat="user in vm.users | filter:vm.search">
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" ng-src="https://placeimg.com/640/480/any" alt="Card image cap">
            <!-- <img class="card-img-top" ng-src="{{ ::vm.painting }}" alt="Card image cap"> -->
            <div class="card-block">
              <h4 class="card-title" contentEditable="true" ng-model="vm.user.name">
                {{ user.name }}
              </h4>
              <p class="card-text">
                {{ post.userId }}
              </p>
              <p class="card-text">
                  <button type="button" class="btn btn-danger">Edit</button>
                <a class="btn btn-primary" ui-sref="userDetails({id: user.id})">details</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>