<div class="container">
    <div class="jumbotron">
      <h1 class="jumbotron-heading">{{ vm.greeting }}</h1>
      <div class="search">
        <textbox bind-to="vm.search" label="Start Typing to Search"></textbox>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-6 col-md-4 post slide" ng-repeat="user in vm.users | filter:vm.search">
            <div class="card-deck">
              <div class="card">
                <img class="card-img-top" ng-src="https://placeimg.com/640/480/animals" alt="Card image cap">
                <!-- <img class="card-img-top" ng-src="{{ ::vm.painting }}" alt="Card image cap"> -->
                <div class="card-block">
                  <h4 class="card-title">
                    {{ user.name }}
                  </h4>
                  <p class="card-text">
                    {{ user.company.name }}
                  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>