<div class="blog">
  <div class="blog-masthead">
    <div class="container">
      <h1 class="blog-id"><span>#{{ vm.post.id }}</span></h1>
      <p class="lead blog-description">By<a> user number: {{ vm.post.userId }}</a></p>
      <h1 class="blog-title"><span>{{ vm.post.title }}</span></h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 blog-main">
        <div class="blog-post">
          <p>{{ vm.post.body }}</p>
        </div>
        <!-- /.blog-post -->
      </div>
    </div>
  </div>
</div>
